.contenedor__tabla {
    width: 100%;
    height: calc(100vh - 100px);
    display: block;
    justify-content: center;
    overflow: auto;
}

.contenedor__tabla::-webkit-scrollbar {
    background-color: #404080;
}

.contenedor__tabla::-webkit-scrollbar-thumb {
    background-color: #2323D5;
}

.sin__tareas {
    width: 100%;
    height: calc(100vh - 100px);
    display: block;
    align-content: center;
    text-align: center;

    p {
        font-size: 16pt;
    }
}

table {
    min-width: 1200px;
    width: 100%;
    height: fit-content;
    border-collapse: collapse;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;

    thead tr {
        background-color: #2323D5;
        height: 50px;
        font-size: 14pt;
        color: white;
        font-weight: bold;
        position: sticky;
        top: 0;
        z-index: 3;
    }

    thead tr th:first-child {
        width: 30px;
        min-width: 30px;
    }

    tbody tr {
        width: 100%;
        height: 50px;
        cursor: pointer;
    }

    tbody tr td:first-child {
        font-size: 16pt;
        font-weight: bold;
        text-align: center;
    }

    tbody tr td {
        padding: 5px;
        text-align: justify;
        text-overflow: ellipsis;
    }

    tbody tr td:last-child {
        width: 100%;
        height: 100%;
    }

    tbody tr td .btns__accion {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
        justify-items: center;
        align-items: center;
        gap: 5px;

        button {
            width: 120px;
            height: 40px;
            color: white;
            font-weight: bold;
            border: none;
            cursor: pointer;
        }

        button:hover {
            opacity: .7;
        }
    }

    tr:nth-child(even) {
        background-color: #ABABFF;
    }

    tbody tr:hover {
        background-color: #7D7DFF;
    }
}

.agregar__tarea {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 2%;
    right: 3%;
    z-index: 2;

    button {
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: transparent;
        border: 2px gray dashed;
    }

    button:hover {
        background-color: #2323D5;
    }
}


@media (max-width: 500px) {
    .agregar__tarea {
        width: 40px;
        height: 40px;
        top: 4.5%;
    }
}